/* general */
  .small-text{
    font-size: 14px;
    font-weight: 300;
  }

  .header-text{
    font-size:36px;
  }

  .medium-text{
    font-size: 24px;
  }

  body{
    font-family: 'Helvetica', sans-serif;
  }

  .not-reverse{
    display: flex;
    flex-direction: row-reverse;
  } 
  
  a{
      color: black;
      text-decoration: none;
  }

  .gradient-background{
    background: #F1F3FF;
    width: auto;
  }

  .text-bg-primary{
      background-color: none;
  }

  #featured-3 .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
      align-items: stretch;
      gap: 100px;
  }

  .feature.col {
      flex: 1; 
      width: 268px; 
      height: 196px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      padding: 20px; 
      border-radius: 8px;
      background-color: white;
  }

  .feature-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px; 
      height: 50px;
      margin-bottom: 1rem;
  }

  .feature-icon svg {
      width: 32px;
      height: 32px;
  }

  h3 {
      font-size: 1.25rem; 
  }

  p {
      font-size: 0.9rem; 
  }

  .icon-link {
      font-size: 0.9rem;
  }

  .nav-link{
      color: black;
  }

  .fs-10{
      font-size: 16px;
  }

  br{
      font-size: 14px;
  }

  .row > * {
      padding-left: 136px;
  }

  .img-fluid{
    max-width: none;
  }

  pre{
    overflow: visible;
  }

  .pre-text{
    white-space: pre;
  }

  col{
    width: 30%;
  }

/* <!-- Hero Section -->  */
  .car{
    padding-left: 310.5px;
  }
  
  .btn{
    background-color: #5CB85F;
    border: none;
    color: #F1F3FF;
    font-size: 14px;
    border-radius: 2px;
  }

  .btn:hover {
    background-color: #0D28A6;
    transform: translateY(-2px);
    color: #F1F3FF;
  }

/* CTA Banner */
  .CTA{
    margin-left: 136px;
    margin-right: 136px;
    background-color:#0D28A6;
    color: white !important;
    border-radius: 13px;
    width: 1168px;
    height: 326px;
  }

  .CTA h1{
    color: #F1F3FF !important;
  }

  .carousel{
    width: 1100px;
    margin-bottom: 180px;
  }

  .carousel-item{
    background-color: #F1F3FF;
    
  }

  .carousel-inner{
    max-width: 70%;
    margin-left: 350px;
  }

  .carousel-control-next-icon{
    background-image: url(assets/Right\ button.png);
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-control-prev-icon{
    background-image: url(assets/Left\ button.png);
  }

/* FAQ */
  .accordion{
    padding-left: 230px;
  }

  .accordion-item{
    width: 668px;
    height: 56px;
    margin-bottom: 16px;
    border-radius: none !important;
  }

  .text-faq{
    margin-bottom: 290px;
  }

  @media (max-width: 400px){
    .col{
        width: 100%;
    }

    .not-reverse{
        display: flex;
        flex-direction: row;
    }

    .p{
        color: #0D28A6;
    }

    .gradient-background{
        width: auto;
    }

    .CTA{
      height: 400px;
      width: 328px;
      max-width: 100% ;
    }

    .CTA H1{
      font-size: 24px;
    }
  }